@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Inter:wght@400;500;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: #0f0f0f;
    color: #ffffff;
}

.font-serif-title {
    font-family: 'Merriweather', serif;
}

.bg-overlay {
    background: linear-gradient(to right, rgba(15, 15, 15, 0.95) 20%, rgba(15, 15, 15, 0.7) 60%, rgba(15, 15, 15, 0.2) 100%);
}

.card-bg {
    background-color: #161616;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hidden {
    display: none !important;
}