# File template environment (Contoh)
# Duplikat/copy file ini, ubah namanya menjadi .env, lalu isi dengan API key yang valid.

DEEPSEEK_API_KEY=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
TMDB_API_KEY=0d07ead93082f0dd1514a2e777e28905
GEMINI_API_KEY=AQ.Ab8RN6KQRG3sdIRlVhiPJWQCovJ4jW9WZf3Hzmcc_1eEoOxmIQ