# File template environment (Contoh)
# Duplikat/copy file ini, ubah namanya menjadi .env, lalu isi dengan API key yang valid.

DEEPSEEK_API_KEY=sk-df07db4db82f4045ab245d78cf884cb8
TMDB_API_KEY=0d07ead93082f0dd1514a2e777e28905